body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
}

.container {
    padding: 20px;
}

.content-wrapper {
    display: flex; /* Use flexbox for layout */
}



.card-content {
        background-color: #e5faff;
        border-radius: 5px;
        padding: 20px;
        box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
        /* Center the card content */
        display: flex;
        justify-content: center;
        margin-left: auto;
    margin-right: auto;
        width: 65%;
        flex-direction: column;
    }

.card-content h2{
    color: #2d5c9e;
    margin-bottom: 10px;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}

.card-content p {
    margin: 5px 0; /* Adjust margin for spacing */
}

.card-content hr {
    margin-top: 20px;
    margin-bottom: 20px;
    border: 1px solid #ccc;
}

.edit-button {
    text-align: center;
}

.edit-btn {
    background-color:#2d5c9e;
    color: #ffffff;
    border: none;
    border-radius: 5px;
    padding: 10px 20px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.edit-btn:hover {
    background-color: #bcd5f0;
}
