/* contact.css */

/* Style for the footer */
footer.all {
    background-color: #f8f9fa; /* Set background color */
    padding: 50px 0; /* Add padding */
}

/* Style for the left side details */
div.address,
div.phone,
div.email {
    margin-bottom: 20px; /* Add margin bottom */
}

/* Style for the topic */
div.topic {
    font-weight: bold; /* Make text bold */
}

/* Style for the right side */
div.right-side {
    text-align: center; /* Center align text */
}

/* Style for the topic text */
div.topic-text {
    font-size: 24px; /* Set font size */
    font-weight: bold; /* Make text bold */
    margin-bottom: 20px; /* Add margin bottom */
}

/* Style for the input boxes */
.input-box {
    margin-bottom: 20
}

body {
  
  background-image: url('../images/bluombs.jpg');
  background-size: cover;
  background-attachment: fixed; 
}