/* Apply CSS reset */
* {
    padding: 0;
    margin: auto;
    box-sizing: border-box;
}

/* Global styles */
body {
    color: aliceblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
}
nav {
    padding: 2rem 1rem;
    display: flex;
    align-items: center;
    gap: 1rem;
    justify-content: right;
}

.btn { 
    padding: .8rem 1.2rem;
    border: none;
    color: #e4f7ff;
    font-size: 1.2rem;
    background-color: #3b7ba2;
    border-radius: 5px;
    cursor: pointer;
    transition: 0.3s;
}

.btn a {
    text-decoration: none;
    color: #fdfdfd;  
}

.btn:hover {
    background-color: #1f4256;
}

.kontiner {
    max-width: 1400px;
    margin: auto;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    position: relative; 
    
}



.logo {
    position: absolute;
    top: 10px;
    left: 0%;
}

.logo img {
    height: auto;
    max-height: 100px;
}

.navLinks {
    list-style: none;
    display: flex;
    align-items: center;
    gap: 2rem;

}

.link a {
    text-decoration: none;
    color: rgb(3, 2, 2);
    cursor: grabbing;
    transition: 0.3s;
   
}
@media screen and (max-width: 768px) {
  .navLinks {
      flex-direction: column;
      align-items: flex-end;
      gap: 1rem;
  }

  .link {
      margin-bottom: 10px;
  }

  .btn {
      margin-top: 1rem;
  }
}

.header {
    padding: 0 1rem;
    flex: 1;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    align-items: center;
}

.content h1 {
    margin-bottom: 1rem;
    font-size: 4rem;
    font-weight: 700;
    color: #1b375e;
    margin-top: 2rem;
}

.content h2 {
    margin-bottom: 1rem;
    font-size: 3.3rem;
    font-weight: 700;
    color: #2d5c9e;
}

.content p {
    margin-bottom: 2rem;
    color: #000000;
    line-height: 2.5rem;
    font-size: 23px;
}

.image {
    position: relative;
    text-align: center;
    isolation: isolate;
}

@media screen and (max-width: 768px) {
    .navLinks {
        flex-direction: column;
        align-items: center;
    }
    .navLinks .link {
        margin-bottom: 10px;
    }
    .header {
        grid-template-columns: 1fr;
        text-align: center;
    }
    .content h1, .content h2, .content p {
        margin-bottom: 1.5rem;
    }
    .kontiner .logo {
        position: relative;
        margin-bottom: 10px;
    }
}

/*about*/

.kuntint h1 {
    margin-bottom: 1rem;
    font-size: 3.3rem;
    font-weight: 700;
    color: #2d5c9e;
}

.kuntint p {
    margin-bottom: 2rem;
    color: #000000;
    line-height: 2.8rem;
    font-size: 23px;
}

.img{
    position: relative;
    text-align: center;
    isolation: isolate;
}

.bg_image {
    position: fixed;
    width: 900%;
}


/*kuntak*/

.all {
  width: 100%;
  background: #e4f7ff;
  padding: 20px 60px 30px 40px;
  box-shadow: 0 5px 10px rgba(77, 64, 64, 0.2);
}

.all .cont {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.all .cont .left-side {
  width: 25%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  position: relative;
}

.cont .left-side .details {
  margin: 14px;
  text-align: center;
}

.cont .left-side .details i {
  font-size: 30px;
  color: #205693;
  margin-bottom: 10px;
}

.cont .left-side .details .topic {
  font-size: 15px;
  font-weight: 550;
  color: #000000;
}

.cont .left-side .details .text-one,
.cont .left-side .details .text-two {
  font-size: 14px;
  color: #2e4450;
}

.all .cont.right-side {
  width: 75%;
  margin-left: 75px;
}

.cont .right-side .topic-text {
  font-size: 23px;
  font-weight: 600;
  color: #1b375e;
}

.right-side .input-box {
  height: 50px;
  width: 100%;
  margin: 12px 0;
}

.right-side .input-box input,
.right-side .input-box textarea {
  height: 100%;
  width: 100%;
  border: none;
  outline: none;
  font-size: 16px;
  background: #ffffff;
  border-radius: 6px;
  padding: 0 15px;
  resize: none;
}

.right-side .message-box {
  min-height: 110px;
}



.right-side .button {
  display: inline-block;
  margin-top: 12px;
}

.right-side .button input[type="button"] {
  color: #ffffff;
  font-size: 18px;
  outline: none;
  border: none;
  padding: 5px 13px;
  border-radius: 6px;
  background: #3b7ba2;
  cursor: pointer;
  transition: all 0.3s ease;
}

.button input[type="button"]:hover {
  background: #09355e;
}

.all .cont .huh {
  color: #080508; /* Corrected class name and added color property */
}


